Source: hinawa
Section: libs
Priority: optional
Maintainer: Takashi Sakamoto <o-takashi@sakamocchi.jp>
Build-Depends: debhelper (>= 9), autotools-dev,
    automake (>= 1.10), autoconf (>= 2.62), libtool (>= 2.2.6),
    libglib2.0-dev (>= 2.32.0),
    gtk-doc-tools (>= 1.18-2),
    gobject-introspection (>= 1.32.1),
    libgirepository1.0-dev (>= 1.32.1)
Standards-Version: 3.9.6
Homepage: https://github.com/takaswie/libhinawa
Vcs-Browser: https://github.com/takaswie/libhinawa.git

Package: libhinawa0
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends},
    libglib2.0-0 (>= 2.32.0)
Multi-Arch: same
Description: Hinawa is an userspace library for IEEE 1394 transactions.
 Hinawa is an gobject introspection library for devices connected to
 IEEE 1394 bus. This library supports any types of transactions over
 IEEE 1394 bus.  This library also supports some functionality which
 ALSA firewire stack produces.

Package: gir1.2-hinawa-1.0
Section: introspection
Priority: optional
Architecture: linux-any
Depends: ${misc:Depends}, ${gir:Depends},
    libhinawa0 (= ${binary:Version}),
Description: libhinawa-1.0 introspection data
 This package contains the GObject-introspection data of libhinawa-1.0 in
 binary typelib format.

Package: libhinawa-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
    libhinawa0 (= ${binary:Version}),
    libglib2.0-dev (>= 2.32.0),
    libgirepository1.0-dev (>= 1.32.1),
Description: libhinawa development package
 This package contains libraries and header files for
 developing applications that use libhinawa.

Package: libhinawa-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libhinawa0 (= ${binary:Version})
Description: libhinawa debugging symbols
 This package contains libhinawa debugging symbols.
